---
import Layout from "../../layouts/Layout.astro";
import { getOneInvite } from "../../../backend/backend.mjs";

const invite = await getOneInvite(Astro.params.id);

const hero = {
  title: `En savoir plus sur ${invite.nom} ${invite.prenom}`,
  description: "Voici les détails de l'invité",
  heroImg: "",
  metaDescription: `Découvrez ${invite.nom} ${invite.prenom}`,
};
---

<Layout hero={hero} title={`${invite.nom} ${invite.prenom}`}>
  <div
    id="first"
    class="bg-white p-6 rounded-lg shadow-lg flex flex-col md:flex-row gap-8 items-center"
  >
    <img
      loading="lazy"
      src={invite.photo}
      alt={`Photo de ${invite.prenom} ${invite.nom}`}
      class="w-48 h-48 object-cover rounded-full shadow-md"
    />
    <div class="flex flex-col gap-4">
      <h2 class="text-2xl font-bold text-gray-800">
        {invite.prenom}
        {invite.nom}
      </h2>
      <p class="text-sm text-gray-600 font-semibold">{invite.role}</p>
      <p class="text-gray-700 leading-relaxed">{invite.biographie}</p>
      <a href={`mailto:${invite.email}`} class="text-blue-500 hover:underline">
        Contacter {invite.prenom}
      </a>
    </div>
  </div>
</Layout>
